@*//////// ---------------- name 'viewFilter.cshtml' is mandatory --------------/// *@
@*//////// ---------------- as well as _DocumentViewer1Partial.cshtml --------------/// *@
@*//////// ---------------- and Index.cshtml --------------/// *@

@model MvcApplication3.Models.RankModel
@*@model MvcApplication3.Models.ExamineeRankModel*@

@{
    Layout = null;// "~/views/shared/_layout.cshtml";
}

 <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>
<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js">      </script>

<style>
 fieldset {
  padding: 1px;
}
.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 3px;
}
.col {
    float: left;
    text-align:left;
    padding: 10px;
    white-space: nowrap
}
.collabel {
    float: left;
    text-align:left;
    padding: 5px;
    font-size :small;
    white-space: nowrap;
    padding-top:1px;
    font-family:Arial
}

</style>

Individual test result filter
<fieldset>  
        @*<legend></legend>  *@

       @*////// The sent button must be hide or do not add. Because theres already a generic button on the print selection(reportmain/index.cshtml) *@
       @* @using (Ajax.BeginForm("Index", "rptIndiTestResult", null,
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }, new { id = "rptIndiTestResult" }))*@
      @using (Ajax.BeginForm("DocumentViewerPartial", "rptIndiTestResult", null,
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }, new { id = "rptIndiTestResult" }))
      {  
        <div id="divInterestDeatils"></div>  
       
         <table class ="collabel">
            <tr>
             <td> 
                   <table class = "collabel" border = "1">
                    <tr><th colspan = "4">Criteria</th></tr>
                    <tr>
                            <td> @Html.Label("Test Name:")</td> 
                            <td>
                                @Html.DropDownList("TestName", ViewBag.TestName as SelectList, new { id = "lueTestName" })  
                            </td>
                            <td> @Html.Label("First Name:")</td>
                            <td>
                                @*@Html.DropDownList("SubjCategoryID", ViewBag.SubjectCat as SelectList,new { id = "subjectcat" })*@
                                @Html.TextBox("teFirstName", "", new { id = "teFirstName" })
                            </td> 
                    </tr>
                    <tr>
                           <td> @Html.Label("Rank:")</td>
                           <td>
                                @Html.DropDownListFor(r => r.PositionID, ViewBag.RankList as SelectList, new { id = "lueRank"})  
                          </td>
                          <td> @Html.Label("Last Name:")</td>   
                          <td>
                                @* @Html.DropDownList("SubjectID", ViewBag.SubjectList as SelectList, new { id = "subjects" })*@
                                @*@Html.DropDownList("SubjectID", Enumerable.Empty<SelectListItem>(), new { id = "subjects", style = "min-width: 250px;" })*@
                                @Html.TextBox("teLastName", "", new { id = "teLastName" })
                            </td>   
                    </tr>
                    <tr>
                          <td> @Html.Label("From Date:")</td>
                           <td>
                               @Html.TextBox("deFromDate","", new { @class = "datepicker" })
                          </td>
                           <td> @Html.Label("Nationality:")</td>
                          <td> 
                                @Html.DropDownList("lueNat", ViewBag.Nationality as SelectList, new { id = "lueNat" })
                          </td>      
                    </tr>
                    <tr>
                        <td> @Html.Label("To Date:")</td>    
                         <td>
                               @Html.TextBox("deToDate","", new { @class = "datepicker" })
                        </td>
                        <td> @Html.Label("Taken at:")</td>      
                         <td>
                             @Html.DropDownList("CompanyName", ViewBag.CompanyName as SelectList, new { id = "lueCompany" })
                    
                         </td>   
                     </tr>
                     <tr>
                        <td colspan = "1"> @Html.Label("Include:")</td> 
                    
                        <td colspan = "3">
                            <div>
                                <label>
                                    @Html.RadioButton("AnswerFilter", "2", true)
                                    Both
                                </label>
                    
                                <label>
                                    @Html.RadioButton("AnswerFilter", "1")
                                    Rights Answers
                                </label>
                   
                                <label>
                                    @Html.RadioButton("AnswerFilter", "0")
                                    Wrong Answers
                                </label>
                            </div> 
                        </td>
                     </tr>
                     <tr>
                         <td colspan ="4" align ="center"><button id = "btnFilter" type ="button">Apply Criteria</button>  </td>
                     </tr>
                  </table>
              </td>
              <td valign=top>
                    <table class ="collabel" border ="1">
                        <tr>
                            <th>Sorting</th>
                        </tr>
                        <tr>
                            <td style="font-size:small">
                                Note: Criteria has effect on sorting and vice-versa
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                Sort Selection By: @Html.DropDownList("cbeSortBy", ViewBag.sortitems as SelectList, new { id = "cbeSortBy" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>
                                    @Html.RadioButton("rgSortOrder", "Asc")
                                    Ascending
                                </label>
                    
                                <label>
                                    @Html.RadioButton("rgSortOrder","Desc" )
                                    Descending
                                </label>
                            </td> 
                        </tr>
                    </table>
              </td>
            </tr>
           
                
          </table>
       
          
       @*  <div class ="row">
            <div class ="collabel">
                <div> @Html.Label("Test Name:")</div>
                <div> @Html.Label("Rank:")</div>   
                <div> @Html.Label("From Date:")</div>   
                <div> @Html.Label("To Date:")</div>               
            </div>
             <div class="col">
                  <div>
                        @Html.DropDownList("TestName", ViewBag.RankList as SelectList, new { id = "lueRank" })  
                 </div>
                
                 <div>
                        @Html.DropDownListFor(r => r.PositionID, ViewBag.RankList as SelectList, new { id = "lueRank"})  
                 </div>
                
                 <div>
                       @Html.TextBox("deFromDate","", new { @class = "datepicker" })
                 </div>
                
                 <div>
                       @Html.TextBox("deToDate","", new { @class = "datepicker" })
                 </div>
             </div>
             <div class ="collabel">
                <div> @Html.Label("1")</div>
                <div> @Html.Label("2")</div>   
                <div> @Html.Label("3")</div>   
                <div> @Html.Label("4")</div>               
            </div>
             <div class="col">
                    <div>
                        @Html.DropDownList("SubjCategoryID", ViewBag.SubjectCat as SelectList,new { id = "subjectcat" })
                    </div> 
                    <div>
                        @Html.DropDownList("SubjectID", Enumerable.Empty<SelectListItem>(), new { id = "subjects", style = "min-width: 250px;" })
                    </div> 
                   <div> </div>     
                   <div> </div>     
             </div>

         </div> *@
       
          
          @* ///---- this div is required ------////*@
          <div id = "selectlist">
                @* ///---- the SelectionList.cshtml will appear here ------////*@
                @* @Html.Partial("~/Views/ReportMain/SelectionList.cshtml")*@
                @*@Html.Action("SelectionList", "rptIndiTestResult");*@
          </div>
          
          @* ////---- this div is required ----------/////*@
          <div>
             @* ////---- 'txtselected' name is required ----------/////*@
             @Html.Hidden("txtselected", "", new { id = "txtselected" })  
          </div>
          
    @*<button id = "btncalc">Calculate</button>  *@
      }     
   @*   <button id = "btnselected">selected</button>  *@
</fieldset>  

<script type ="text/javascript">

    $("#btnFilter").click(
    function () {
        //        var ss = $("#testname option:selected").val();

        var dict = new Object();

        dict["FName"] = $("#teFirstName").val();
        dict["LName"] = $("#teLastName").val();
        dict["PositionID"] = $("#lueRank").val();
        dict["TestName"] = $("#lueTestName").val();
        dict["DateTaken"] = $("#deFromDate").val();
        dict["ToDate"] = $("#deToDate").val();
       // dict["AnswerFilter"] = $("[name='AnswerFilter']:checked").val();
        dict["Nat"] = $("#lueNat").val();
        dict["CompanyName"] = $("#lueCompany").val();
       
//        for (var key in dict) {
//            var value = dict[key];
//            alert(value);
//        }

        alert(JSON.stringify(dict));

        $("#selectlist").load("/rptIndiTestResult/SelectionList?criteria='" + encodeURIComponent(JSON.stringify(dict)) + "'")
        }
    )

    $("#subjectcat").change(function () {
        var ss = this.value;
        $.ajax({
            type: "POST",
            url: "/rptIndiTestResult/GetSubjects?SubjCategoryID='" + ss + "'",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var lstsubjects = $("[id*=subjects]");
                lstsubjects.empty();
                //                    $.each(r.d, function () {
                //                        lstCustomers.append($("<option></option>").val(this['Value']).html(this['Text']));
                //                    });
                $.each(r, function (index, itemData) {
                    //alert(itemData.Text);                    
                    var option = new Option(itemData.Text, itemData.Value);
                    //lstsubjects.add(option);
                    $("#subjects").append(option);
                });
            }
        });
    });
    

    $.fn.addItems = function (data) {
        return this.each(function () {
            var list = this;
            $.each(data, function (index, itemData) {
                alert(itemData);
                var option = new Option(itemData.Text, itemData.Value);
                list.add(option);
            });
        });
    };

    /// --- this is where you filter what will be displayed in selection list--- ////
//    $("#lueRank").change(function () {
//        var ss = this.value;
//        //alert(ss);
//            $("#selectlist").load("/rptIndiTestResult/SelectionList?rankid='" + ss + "'")
//    });

    $("#deFromDate").datepicker();
    $("#deToDate").datepicker();


//    $("#btnselected").click(function () {
//        //alert("selected");
//        var s = $("#lstselect option:selected").val();
//        //alert(s);
//        var table = s.split(',');
//        //alert(table[0]);

//        for (i = 0; i < table.length; i++) {
//            alert(table[i]);
//        }
//    });

//    $("#btnselected").click(function () {
//        var rr = [];
//        $("#lstselect :selected").each(function (i, selected) {
//            rr[i] = "'" + $(selected).val() + "'";
//        });
//        //alert(rr);
//        //alert(rr[0]);
//        var s = rr.toString();
//        alert(s);

//    });
 
</script>

