@model SETSReport.Models.dropdownModel

@{
    ViewBag.Title = "ddEntry";
}

<h2>ddEntry</h2>
@using (Html.BeginForm("showreport", "dropdown", FormMethod.Post, new { target = "_blank" }))
{ 
<div class="col-md-10">  
   @*ViewBag.ReportList is holding all the Report values*@  
   @Html.DropDownListFor(model => model.ObjectID, ViewBag.ReportList as SelectList, new { @class = "form-control", @onChange = "SelectedValue(this)" })
 @*  @Html.DropDownListFor(model => model.ObjectID, ViewBag.ReportList as SelectList, new { @class = "form-control", @onChange = "add('text')" }) *@ 
 
   @Html.ValidationMessageFor(model => model.ObjectID, "", new { @class = "text-danger" })  
</div>  
    
     <div class="form-group">  
            <div class="col-md-offset-2 col-md-10">  
                <input type="submit" value="Create"  id = "btncreate" class="btn btn-default"/>  
            </div>  
        </div>  

}

@*<p>Value selected: @ViewBag.Info</p> 
<div>  
    @Html.ActionLink("Back to List", "Index")  
</div>  
  
@section Scripts {  
    @Scripts.Render("~/bundles/jqueryval")  
  
}  *@

<script type="text/javascript">
    //To get selected value an text of dropdownlist  
    function SelectedValue(ddlObject) {
        //Selected value of dropdownlist  
        var selectedValue = ddlObject.value;
        //Selected text of dropdownlist  
        var selectedText = ddlObject.options[ddlObject.selectedIndex].innerHTML;
        //alert popup with detail of seleceted value and text  
        //alert(" Selected Value: " + selectedValue + " -- " + "Selected Text: " + selectedText
    }


</script>  