@{
    //Layout = null;// "~/views/shared/_layout.cshtml";
}

@*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>
@*<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js">      </script>*@

<style type="text/css">
    

.FilterHeader
{
    @*font-family:Arial;
    text-align:left;
    border:1px solid;
    font-size:medium;
    font-weight:bold;
    padding: 5px;*@
} 

h5 {
   border-bottom: 1px solid #000;
   width:100%;
}
</style>

@*<h4 style="font:arial" class="FIlterHeader">ADMIN - List of Subjects</div>*@


   @{string rptname = "rptAdmQCountPerSubject";}

  @using (Ajax.BeginForm("DocumentViewerPartial", rptname, null,
                            null, new { id = rptname }))
  {
      <fieldset>
                   
        
         <div class="row-fluid">
                    <div class="span6" style="">
                             <div><h5>Criteria</h5></div>
                             @Html.Label("Subject Catergory:")
                            <div class="controls">                
                            <div class="input-append">
                             @Html.DropDownList("SubjCategory", ViewBag.SubjCategory as SelectList, "", new { id = "lueSubjCategory" })    
                             <button id = "clearlueSubjCategory" type ="button" class="btn">x</button>                 
                            </div></div>
                        
                            @Html.Label("Subject Group:")
                            <div class="controls">                
                             <div class="input-append">
                             @Html.DropDownList("SubjGroup", ViewBag.SubjGroup as SelectList, "", new { id = "lueSubjGroup" })         
                             <button id = "clearlueSubjGroup" type ="button" class="btn">x</button> 
                             </div></div>     
                        
                    
                             @Html.Label("Subject Level:")
                             <div class="controls">
                             <div class="input-append">
                             @Html.DropDownList("SubjLevel", ViewBag.Signatory as SelectList, "", new { id = "lueSubjLevel" })         
                             <button id = "clearlueSubjLevel" type ="button" class="btn">x</button> 
                             </div></div>   
                        
                            <br />
                           <button id = "btnFilter" type ="button" class="btn btn-primary">Apply Criteria</button>  
                            
                        </div>
                        <div class="span6" style="">
                          <div><h5>Sorting</h5></div>
                                @Html.Label("Sort by:", new { @class = "control-label" })
                                <label class="control-label" style="font-size:smaller" >(Report sorting also affected.)</label>

                                @Html.DropDownList("cbeSortBy", ViewBag.sortitems as SelectList, new { id = "cbeSortBy" })
                            
                                <label>
                                    @Html.RadioButton("rgSortOrder", "Asc", true)
                                    Ascending
                                </label>
                            
                                <label>
                                    @Html.RadioButton("rgSortOrder", "Desc")
                                    Descending
                                </label>
                             
                    </div>
           </div>
      <div>
            @* ////---- 'txtselected' name is required ----------/////*@
            @Html.Hidden("txtselected", "", new { id = "txtselected" })  
      </div>
      </fieldset>
  }



<script type="text/javascript">

    var rpt = 'rptAdmQCountPerSubject';

    $("#btnFilter").click(
    function () {
        //        var ss = $("#testname option:selected").val();

        var dict = new Object();

        dict["SubjCategoryID"] = $("#lueSubjCategory").val();
        dict["SubjGroupID"] = $("#lueSubjGroup").val();
        dict["SubjLevelID"] = $("#lueSubjLevel").val();
        //dict["CompanyName"] = $("#lueSignatory").val();

        // --- required ---//
        $("#SelectionView").load("/"+ rpt +"/SelectionList?criteria=" + encodeURIComponent(JSON.stringify(dict)) + "&sortbyname=" + $("#cbeSortBy").val() + "&sortby=" + $("[name='rgSortOrder']:checked").val())

    }
    )

    $("#clearlueSubjCategory").click(
        function () {
            $("#lueSubjCategory").val("");
        }
    )

        $("#clearlueSubjGroup").click(
        function () {
            $("#lueSubjGroup").val("");
        }
    )

        $("#clearlueSubjLevel").click(
        function () {
            $("#lueSubjLevel").val("");
        }
    )

//        $('form').submit(function () {
//            alert("Dfdfd");
//            $("#sortbytext").val("test before submit");
//            $('input#sorttext').val($('input#rgSortOrder').text());
//            return true;
//        });

//        $("#cbeSortBy").change(
//        function () {
//            alert("change");
//            $("#sortbytext").val("test buang");
//        }
//        )

</script>