@{
    Layout = null;
}

<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>
<script type="text/javascript" src="/Scripts/bootstrap.js">      </script>
<script type="text/javascript" src="/Scripts/bootstrap-datepicker.js">      </script>
<script type="text/javascript" src="/Scripts/bootstrap-datepicker.min.js">      </script>



<style>
h5 {
   border-bottom: 1px solid #000;
   width:100%;
}

</style>
@*<h4 style="font:arial" class="FIlterHeader">ADMIN - Test Configuration</h4>  *@



      
      @{string rptname = "rptAdmQCountPerTest";}
      
      @using (Ajax.BeginForm("DocumentViewerPartial", rptname, null,
                            null, new { id = rptname }))
      {
          <fieldset>  
                 <div class="row-fluid">
                       <div class="span6">
                               <div><h5>Criteria</h5></div>
                                            
                                        @Html.Label("Test Group:", new { @class = "control-label" })
                                        <div class="controls">
                                        <div class="input-append">
                                            @Html.DropDownList("TestGroup", ViewBag.TestGroup as SelectList, "", new { id = "lueTestGroup" })  
                                            <button id = "clearlueTestGroup" type ="button" class="btn">x</button>                                                     
                                        </div></div>
                                            
                                 <div>
                                    <label class="checkbox">
                                    <input type="checkbox" id="ShowRevDates" value="true" name="ShowRevDates"/>Display History Revision Date
                                    @*  <input name="ShowRevDates" type="hidden" value="false" />*@
                                    </label>
                                </div>
                            
                                <br />
                           
                                     
                                    <br />
                                   <button id = "btnFilter" type ="button" class="btn btn-primary">Apply Criteria</button>  

                       </div>

                        <div class="span6">
                           <div><h5>Sorting</h5></div>
                             @* <br />
                                      @Html.Label("Sort Selection:", new { @class = "control-label" })
                                         <div class="controls">                
                                        <label>@Html.RadioButton("rgSortOrder", "Asc", true)
                                                Ascending 
                                        </label>
                                        <label>
                                            @Html.RadioButton("rgSortOrder", "Desc")
                                            Descending
                                        </label></div>
                             <br />*@
                               

                                 @Html.Label("Sort Report:", new { @class = "control-label" })
                                <div class="controls">
                                <div class="input-append">
                                    @Html.DropDownList("SortReportBy", ViewBag.sortitems as SelectList, new { id = "lueSortReportBy" })    
                                </div>
                                <label>
                                    @Html.RadioButton("rgSortReportOrder", "Asc", true)
                                    Ascending
                                </label>
                                <label>@Html.RadioButton("rgSortReportOrder", "Desc")
                                    Descending
                                </label>
                                </div>

                       </div>
                 </div>  
    
               <div>
                    @* ////---- 'txtselected' name is required ----------/////*@
                    @Html.Hidden("txtselected", "", new { id = "txtselected" })  
              </div>
          </fieldset>
      }
      


<script type="text/javascript">

    var rpt = 'rptAdmQCountPerTest';

    $("#btnFilter").click(
    function () {
        //        var ss = $("#testname option:selected").val();

        var dict = new Object();

        dict["TestGroupNames"] = $.trim($("#lueTestGroup").val());

        // --- required ---//
        $("#SelectionView").load("/" + rpt + "/SelectionList?criteria=" + encodeURIComponent(JSON.stringify(dict)) + "&sortbyname=" + $("#cbeSortBy").val() + "&sortby=" + $("[name='rgSortOrder']:checked").val())

    }
    )

    $("#clearlueTestGroup").click(
        function () {
            $("#lueTestGroup").val("");
        }
    )

</script>