@{
    //Layout = null;// "~/views/shared/_layout.cshtml";
}

@*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />*@
<script type="text/javascript" src="/Scripts/jquery-1.7.1.js">      </script>
@*<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.min.js">      </script>*@

<style type="text/css">
    

.FilterHeader
{
    font-family:Arial;
    text-align:left;
    border:1px solid;
    font-size:medium;
    font-weight:bold;
    padding: 5px;
} 

h5 {
   border-bottom: 1px solid #000;
   width:100%;
}
</style>

@*<h4 style="font:arial">Individual Test Results - Test Certificates</h4>*@


   @{string rptname = "rptPrintTestCertificate";}

  @using (Ajax.BeginForm("DocumentViewerPartial", rptname, null,
                            null, new { id = rptname }))
  {
      <fieldset>
          <div class="row-fluid">
                    <div class="span6" style="">
                           <div><h5>Criteria</h5></div>
                    
                            @Html.Label("Company Name:")
                             <div class="controls">  
                            <div class="input-append">
                             @Html.DropDownList("CompanyName", ViewBag.CompanyName as SelectList, "",  new { id = "lueCompany" })    
                             <button id = "clearlueCompany" type ="button" class="btn">x</button>                 
                            </div></div>

                             @Html.Label("Set Signatory:")
                            <div class="controls">  
                            <div class="input-append">
                            @Html.DropDownList("Signatory", ViewBag.Signatory as SelectList, "", new { id = "lueSignatory" })         
                            <button id = "clearlueSignatory" type ="button" class="btn">x</button> 
                            </div></div>   

                             <br />
                            <button id = "btnFilter" type ="button" class="btn">Apply Criteria</button> 
                 </div>
                 <div class="span6" style="">
                         <div><h5>Sorting</h5></div>

                           @Html.Label("Sort by:", new { @class = "control-label" })
                            <label class="control-label" style="font-size:smaller" >(Report sorting also affected.)</label>

                            @Html.DropDownList("cbeSortBy", ViewBag.sortitems as SelectList, new { id = "cbeSortBy" })
                            <div class="controls">
                            <label>
                                @Html.RadioButton("rgSortOrder", "Asc", true)
                                Ascending
                            </label>
                            <label>
                                @Html.RadioButton("rgSortOrder", "Desc")
                                Descending
                            </label>
                            </div>
                             <br />


                             
   
                </div>
                <div>
                @* ////---- 'txtselected' name is required ----------/////*@
                @Html.Hidden("txtselected", "", new { id = "txtselected" })  
                </div>
            </div>
      </fieldset>
  }



<script type="text/javascript">

    var rpt = 'rptPrintTestCertificate';

    $("#btnFilter").click(
    function () {
        //        var ss = $("#testname option:selected").val();

        var dict = new Object();

        dict["CompanyName"] = $("#lueCompany").val();
        //dict["CompanyName"] = $("#lueSignatory").val();

        // --- required ---//
        $("#SelectionView").load("/"+ rpt +"/SelectionList?criteria=" + encodeURIComponent(JSON.stringify(dict)) + "&sortbyname=" + $("#cbeSortBy").val() + "&sortby=" + $("[name='rgSortOrder']:checked").val())

    }
    )

    $("#clearlueCompany").click(
        function () {
            $("#lueCompany").val("");
        }
    )

        $("#clearlueSignatory").click(
        function () {
            $("#lueSignatory").val("");
        }
    )
</script>